
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}




<div class="alert alert-danger">Kategori Sayısı = @ViewBag.categoryCount</div>
<div class="alert alert-warning">Proje Sayısı = @ViewBag.projectCount</div>
<div class="alert alert-success">Yetenek Sayısı = @ViewBag.skillCount</div>
<div class="alert alert-dark">Yetenek Ortalaması = @ViewBag.skillAvgValue</div>
<div class="alert alert-dark">Son Eklenen Yetenek = @ViewBag.GetLastSkillTitle</div>
<div class="alert alert-dark">Flutter Proje Sayısı = @ViewBag.mvcCategoryProjectCount</div>
<div class="alert alert-info">Toplam Kullanıcı Sayısı = @ViewBag.userCount</div>
<div class="alert alert-primary">Hobi Sayısı  = @ViewBag.hobbyCount</div>
<div class="alert alert-secondary">Servis Sayısı  = @ViewBag.serviceCount</div>
<div class="alert alert-light">En Yüksek Yetenek Puanı = @ViewBag.highestSkillScore</div>
<div class="alert alert-danger">En Düşük Yetenek Puanı = @ViewBag.lowestSkillScore</div>
<div class="alert alert-warning">Son Eklenen Proje = @ViewBag.ProjectName</div>
