@model AcunMedyaAkademiPortfolyo.Models.Skill
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h3>Güncelleme Sayfası</h3>

    <form method="post">
        <label>Yetenek Id </label>
        <input type="text" class=" form-control" name="SkillId" value="@Model.SkillId" />
        <label>Yetenek Adı </label>
        <input type="text" class=" form-control" name="Title" value="@Model.Title" />
        <label>Yetenek değeri </label>
        <input type="text" class=" form-control" name="Value" value="@Model.Value" />
        <label>Geçen haftalık Değeri </label>
        <input type="text" class=" form-control" name="LastWeekValue" value="@Model.LastWeekValue" />
        <label>Geçen aylık Değeri </label>
        <input type="text" class=" form-control" name="LastMonthValue" value="@Model.LastMonthValue" />
        <br />
        <button class=" btn btn-info">Yeteneği kaydet</button>

    </form>